@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    min-height: 1000px;
    width: 1350px;
    margin: auto;
    box-shadow: 0 0 30px 1px rgb(223, 223, 223), 0 0 30px 1px rgb(212, 212, 212);
}
#navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90px;
    background:whitesmoke;
    box-shadow: 0 0 8px 2px grey, 0 0 6px 2px silver;
}
#list li a:hover {
    color: orangered;
    transition: 0.1s;
}

#list li a:not(:hover) {
    transition: 0.1s;
}

img {
    width: 200px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

#slika {
    box-shadow: 0 0 5px 1px rgb(231, 231, 231), 0 0 5px 1px grey;
    padding: 20px;
    width: 300px;
    margin: 3px;
    background: snow;
    border-top-right-radius: 8px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 8px;
}

#searchBtn {
    display: flex;
    grid-gap: 15px;
}

input[type="text"] {
    /* box-shadow: 0 0 5px 2px rgb(197, 197, 197), 0 0 5px 1px rgb(221, 221, 221); */
    box-shadow: 0 0 2px 1px grey, 0 0 2px 1px grey;
    outline: none;
    border: none;
    padding: 6px 20px 6px 20px;
    border-radius: 100px;
    font-size: 16px;
}
input[type="text"]:hover {
    box-shadow: 0 0 2px 1px orangered, 0 0 2px 1px orangered;
    transition: 0.7s;
}

input[type="text"]:not(:hover) {
    transition: 0.7s;
}

#btnSe {
    box-shadow: 0 0 5px 2px rgb(197, 197, 197), 0 0 5px 1px rgb(221, 221, 221);
    box-shadow: 0 0 2px 1px grey, 0 0 2px 1px grey;
    outline: none;
    border: none;
    padding: 6px 20px 6px 20px;
    border-radius: 100px;
    background:rgb(246, 246, 246);
    cursor: pointer;
    font-size: 16px;
}

#btnSe:hover {
    background: rgb(238, 238, 238);
    box-shadow: 0 0 2px 1px orangered, 0 0 2px 1px orangered;
    transition: 0.7s;
}

#btnSe:not(:hover) {
    transition: 0.7s;
}

#list {
    display: flex;
    grid-gap: 120px;
    list-style: none;
    font-size: 22px;
}
#list li a {
    color: black;
    text-decoration: none;
}


.projectSection {
    position: relative;
    width: 1200px;
    min-height: 800.6px;
    margin: auto;
    background:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 2px grey, 0 0 6px 2px silver;
    /* background: snow; */
    /* box-shadow: 0 0 12px 1px rgb(209, 209, 209), 0 0 16px 1px rgb(219, 219, 219); */
    border-top-right-radius: 38px;
    border-top-left-radius: 38px;
    border-bottom-right-radius: 38px;
    border-bottom-left-radius: 38px;
    margin-bottom: 70px;
}


#project4 {
    margin-top: 60px;
}

#user_div {
    width: 700px;
    min-height: 300px;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: snow;
    border-top-left-radius: 74px;
    border-top-right-radius: 74px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.slika {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
    border-radius: 100px;
}

#schäre, #stein, #papir {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    box-shadow: 0 0 5px 2px black, 0 0 5px 2px;
    cursor: pointer;
}

#comp_div {
    width: 800px;
    min-height: 300px;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
    display: flex;
    background: snow;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 74px;
    border-bottom-right-radius: 74px;
    justify-content: space-evenly;
    align-items: center;
    
}

#user_points {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
}

#result {
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
}

#comp_points {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
}

#realResult {
    width: 100%;
    height: 80px;
    background: snow;
    box-shadow: 0 0 7px 1px grey, 0 0 7px 1px grey;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 72px;
}

img {
    max-width:85%;
    max-height:85%;
}

span-rock {
    font-weight: bold;
    font-size: 72px;
    overflow: visible;
}

#miniDiv {
    position: absolute;
    width: 170px;
    height: 170px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0 0 12px 2px black, 0 0 5px 2px;
}

.class_div {
    width: 170px;
    position: absolute;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: whitesmoke;
}


#headlineColor {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 70px;
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black, 0 0 2px black;
}


#PRo1 {
    margin: 70px auto;
    font-size: 40px;
    width: 280px;
}


.h3Center {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    width: 180px;
    
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;

    text-align: center;
    background: orangered;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    box-shadow: 0 0 3px 1px rgb(214, 214, 214), 0 0 3px 1px rgb(202, 202, 202);
}



#footerLine {
    width: 1350px;
    height: 200px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 2px grey, 0 0 6px 2px silver;
}
#footer_line {
    font-size: 34px;

}



@media(max-width:1400px){

    #navBar {
        flex-direction: column;
        justify-content: center;
    }
    #list {
        flex-direction: column;
        grid-gap: 0;
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }
}

@media(max-width:1100px){

    body {
        width: 100%;
    }

    .projectSection, .projectSection3, .projectSection2 {
        width: 700px
    }

    .appProject {
        width: 550px;
        height: 300px;
    }
    #headlineColor, #headlineColor2 {
        font-size: 40px;
    }

    #comp_div, #user_div {
        width: 600px;
    }
    #user_points, #comp_points {
        width: 130px;
        height: 130px;;
    }
    #result {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 48px;
    }
 
    span-rock {
        font-weight: bold;
        font-size: 48px;
        overflow: visible;
    }

    
    #footerLine {
        width: 100%;
    }

}
