@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #444;
    font-family: 'Bangers', cursive;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 54px;
}

.h3Center {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    width: 180px;
    font-family: 'Rajdhani', sans-serif;
    
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;

    text-align: center;
    background: #ff4500;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    box-shadow: 0 0 3px 1px rgb(214, 214, 214), 0 0 3px 1px rgb(202, 202, 202);
}


#PRo1 {
    position: absolute;
    top: 15px;
    font-size: 40px;
    width: 280px;
}

#headlineColor {
    font-family: 'Monoton', cursive;
    position: absolute;
    top: 110px;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px #000000, 0 0 2px #000000;
}

.headline {
    text-align: center;
    padding: 15px 35px;
    box-shadow: 0 0 4px 1px #333, 0 0 4px 1px #555;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background: #888;
}

#paragraphNumb {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 20px;
    text-shadow: 0 0 2px grey, 0 0 2px black;
}

#inputNumb {
    padding: 7px 35px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 17px;
    text-align: center;
    font-family: 'Bangers', cursive;
    box-shadow: 0 0 4px 2px #333, 0 0 4px 2px #333;
}

#containerNumb {
    width: 450px;
    min-height: 200px;
    background: #777;
    padding: 10px;
    margin: 50px auto;
    border-top-left-radius: 68px;
    border-top-right-radius: 68px;
    box-shadow: 0 0 25px 1px #222, 0 0 25px 1px #222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#outputNumb {
    width: 100%;
    min-height: 100px;
    background: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    box-shadow: 0 0 4px 1px #222, 0 0 4px 1px #222;
    display: none;
}
