/* @import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap'); */

@font-face {
    font-family: 'aaargh';
    src: url('./font/Aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rajdhani';
    src: url('./font/rajdhani-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(214, 214, 214);
    font-family: 'aaargh';
    width: 85%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 30px 1px #666, 0 0 30px 1px #666;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    min-height: 140px;
    text-transform: uppercase;
    box-shadow: 0 0 8px 2px #808080, 0 0 6px 2px #C0C0C0;
}

#list {
    display: flex;
    grid-gap: 45px;
}

#list li {
    list-style-type: none;
}

#list li a {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#list li a:hover {
    color: #aaa;
}

#mainHeadline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    text-shadow: 0 0 20px grey, 0 0 20px grey;
    color: snow;
    background:silver;
    margin: 15px 0;
    box-shadow: 0 0 3px 1px grey, 0 0 3px 1px grey;
    font-size: 82px;
}

#mainWrapper {
    width: 100%;
    min-height: 2100px;
    background: silver;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    grid-template-columns: repeat(3, 1fr);
    /* box-shadow: 8px 0 15px -4px rgba(100, 100, 100, 0.8), -8px 0 8px -4px rgba(100, 100, 100, 0.8); */
}

.partWrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 310px;
    height: 450px;
    background: #ddd;
    margin: 15px;
    border-radius: 24px;
    box-shadow: 0 0 30px 1px #666, 0 0 30px 1px #666;
}

.partWrapper:hover {
    transform: scale(1.015);
    transition: 0.5s;
    cursor: pointer;
}

.partWrapper:not(:hover) {
    transition: 0.5s;
}

.topWrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/pc.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    /* box-shadow: 0 0 3px 1px black, 0 0 3px 1px black; */
}

.headline {
    font-size: 32px;
    border: 2px solid grey;
    padding: 10px 35px;
    background: silver;
    opacity: 0.8;
}

.middleWrapper {
    position: absolute;
    top: 150px;
    width: 120px;
    height: 120px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    /* text-shadow: 0 0 2px #666, 0 0 2px #666; */
    background: #ccc;
    border: 4px solid #999;
    border-radius: 40px;
    box-shadow: 0 0 3px 1px rgb(70, 70, 70), 0 0 3px 1px rgb(70, 70, 70);
}

.bottomWrapper {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#btn {
    padding: 10px 20px;
    background: rgb(117, 199, 231);
    border-radius: 100px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    text-transform: uppercase;
    border: 2px solid grey;
    /* text-shadow: 0 0 2px #666, 0 0 2px #666; */
    box-shadow: 0 0 10px 1px #C0C0C0, 0 0 10px 1px #C0C0C0;
}

#btn:hover {
    background:rgb(99, 182, 214)
}

#footerLine {
    height: 140px;
    background: silver;
    font-family: 'rajdhani';
    display: flex;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0 0 6px 1px #888, 0 0 6px 1px #888;
}

@media screen and (max-width:1150px) {
    #navbar, #list {
        flex-direction: column;
        justify-content: center;
        grid-gap: 20px;
        padding: 20px;
        text-align: center;
    }

    #list li a {
        font-size: 28px;
        text-align: center;
    }

}


@media screen and (max-width:800px) {
    #mainHeadline {
        font-size: 64px;
    }
}


@media screen and (max-width:500px) {

    body {
        width: 100%;
    }

    #mainHeadline {
        font-size: 52px;
    }

    #list li a {
        font-size: 22px;
        text-align: center;
    }
    .headline {
        margin: auto;
    }
}

@media screen and (max-width:390px) {
    #mainHeadline {
        font-size: 38px;
    }
}